.cover__link {
    text-decoration: none;
    color: white;
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 1s linear 0.3s;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
}

.cover__link:hover .cover__background {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        max-width: 320px;
        min-height: 200px;
    }
}