.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    grid-area: title;
    max-width: 460px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 665px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        padding: 0 16px;
    }
}