.place__paragraphs {
    grid-area: paragraph;
    max-width: 484px;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        max-width: 352px;
    }
}

@media screen and (max-width: 665px) {
    .place__paragraphs {
        max-width: 288px;
        padding: 0 16px;
    }
}